{:type :fn, :src "(defrecord Fn [fn-expr local-names local-refs]\n  IInstruction\n  (reads-from [this] local-refs)\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~(:id this)\n      (let [~@(interleave local-names local-refs)]\n        ~@fn-expr)]))", :ns "clojure.core.async.impl.ioc-macros", :name "->Fn", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 332, :arglists ([fn-expr local-names local-refs]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.Fn."}