{:type :fn, :src "(defrecord StaticCall [class method refs]\n  IInstruction\n  (reads-from [this] refs)\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~(:id this) (. ~class ~method ~@(seq refs))]))", :ns "clojure.core.async.impl.ioc-macros", :name "->StaticCall", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 306, :arglists ([class method refs]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.StaticCall."}