{:ns "clojure.core.async.impl.ioc-macros", :name "propagate-transitions", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn propagate-transitions [{:keys [op] :as ast}]\n  (if (or (= op :transition)\n          (some #(or (= (:op %) :transition)\n                     (::transform? %))\n                (ast/children ast)))\n    (assoc ast ::transform? true)\n    ast))", :column 1, :line 999, :arglists ([{:keys [op], :as ast}])}