{:ns "clojure.core.async.impl.ioc-macros", :name "print-plan", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn print-plan []\n  (fn [plan]\n    (pprint plan)\n    [nil plan]))", :column 1, :line 145, :arglists ([])}