{:type :fn, :src "(defrecord ExceptionFrame [catch-block\n                           ^Class catch-exception\n                           finally-block\n                           continue-block\n                           prev])", :ns "clojure.core.async.impl.ioc-macros", :name "->ExceptionFrame", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 198, :arglists ([catch-block catch-exception finally-block continue-block prev]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.ExceptionFrame."}