{:ns "clojure.core.async.lab", :name "broadcast", :file "clojure/core/async/lab.clj", :type :fn, :src "(defn broadcast\n  \"Returns a broadcasting write port which, when written to, writes\n  the value to each of ports.\n\n  Writes to the broadcasting port will park until the value is written\n  to each of the ports used to create it. For this reason, it is\n  strongly advised that each of the underlying ports support buffered\n  writes.\"\n  [& ports]\n  (->BroadcastingWritePort (set ports)))", :column 1, :line 99, :arglists ([& ports]), :doc "Returns a broadcasting write port which, when written to, writes\n  the value to each of ports.\n\n  Writes to the broadcasting port will park until the value is written\n  to each of the ports used to create it. For this reason, it is\n  strongly advised that each of the underlying ports support buffered\n  writes."}