{:type :var, :src "(defprotocol IInstruction\n  (reads-from [this] \"Returns a list of instructions this instruction reads from\")\n  (writes-to [this] \"Returns a list of instructions this instruction writes to\")\n  (block-references [this] \"Returns all the blocks this instruction references\"))", :doc nil, :ns "cljs.core.async.impl.ioc-macros", :name "IInstruction", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 190}