{:type :fn, :src "(defrecord CustomTerminator [f blk values meta]\n  IInstruction\n  (reads-from [this] values)\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminate-block [this state-sym _]\n    (with-meta `(~f ~state-sym ~blk ~@values)\n      meta)))", :ns "clojure.core.async.impl.ioc-macros", :name "->CustomTerminator", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 260, :arglists ([f blk values meta]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.CustomTerminator."}