{:ns "cljs.core.async.impl.ioc-macros", :name "state-machine", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn state-machine [body num-user-params env user-transitions]\n  (-> (parse-to-state-machine body env user-transitions)\n      second\n      (emit-state-machine num-user-params user-transitions)))", :column 1, :line 880, :arglists ([body num-user-params env user-transitions])}