{:ns "clojure.core.async.impl.ioc-macros", :name "state-machine", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn state-machine [body num-user-params env user-transitions]\n  (-> (an-jvm/analyze body (make-env env))\n      (ast/postwalk (comp collect-locals\n                          propagate-recur\n                          propagate-transitions\n                          (partial mark-transitions user-transitions)))\n      (parse-to-state-machine user-transitions)\n      second\n      (emit-state-machine num-user-params user-transitions)))", :column 1, :line 1061, :arglists ([body num-user-params env user-transitions])}