{:type :fn, :src "(defrecord Try [catch-block catch-exception finally-block continue-block]\n  IInstruction\n  (reads-from [this] [])\n  (writes-to [this] [])\n  (block-references [this] [catch-block finally-block continue-block])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~'_ (add-exception-frame ~state-sym ~catch-block ~catch-exception ~finally-block ~continue-block)]))", :ns "clojure.core.async.impl.ioc-macros", :name "map->Try", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 391, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.async.impl.ioc_macros.Try, taking a map of keywords to field values."}