{:type :fn, :src "(defrecord Set! [field object val]\n  IInstruction\n  (reads-from [this] [object val])\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    (if field\n      `[~(:id this) (set! (~field ~object) ~val)]\n      `[~(:id this) (set! ~object          ~val)])))", :ns "cljs.core.async.impl.ioc-macros", :name "map->Set!", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 322, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.Set!, taking a map of keywords to field values."}