{:ns "clojure.core.async", :name "dropping-buffer", :file "clojure/core/async.clj", :type :fn, :src "(defn dropping-buffer\n  \"Returns a buffer of size n. When full, puts will complete but\n  val will be dropped (no transfer).\"\n  [n]\n  (buffers/dropping-buffer n))", :column 1, :line 47, :arglists ([n]), :doc "Returns a buffer of size n. When full, puts will complete but\n  val will be dropped (no transfer)."}