{:ns "clojure.core.async", :name "<!", :file "clojure/core/async.clj", :type :fn, :src "(defn <!\n  \"takes a val from port. Must be called inside a (go ...) block. Will\n  return nil if closed. Will park if nothing is available.\"\n  [port]\n  (assert nil \"<! used not in (go ...) block\"))", :column 1, :line 97, :arglists ([port]), :doc "takes a val from port. Must be called inside a (go ...) block. Will\n  return nil if closed. Will park if nothing is available."}