{:ns "clojure.core.async.impl.buffers", :name "sliding-buffer", :file "clojure/core/async/impl/buffers.clj", :type :fn, :src "(defn sliding-buffer [n]\n  (SlidingBuffer. (LinkedList.) n))", :column 1, :line 67, :arglists ([n])}