{:ns "clojure.core.async.impl.ioc-macros", :name "all", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn all\n  \"Assumes that itms is a list of state monad function results, threads the state map\n  through all of them. Returns a vector of all the results.\"\n  [itms]\n  (fn [plan]\n    (reduce\n     (fn [[ids plan] f]\n       (let [[id plan] (f plan)]\n         [(conj ids id) plan]))\n     [[] plan]\n     itms)))", :column 1, :line 115, :arglists ([itms]), :doc "Assumes that itms is a list of state monad function results, threads the state map\n  through all of them. Returns a vector of all the results."}