{:ns "clojure.core.async", :name "alts!!", :file "clojure/core/async.clj", :type :fn, :src "(defn alts!!\n  \"Like alts!, except takes will be made as if by <!!, and puts will\n  be made as if by >!!, will block until completed, and not intended\n  for use in (go ...) blocks.\"\n  [ports & {:as opts}]\n  (let [p (promise)\n        ret (do-alts (partial deliver p) ports opts)]\n    (if ret\n      @ret\n      (deref p))))", :column 1, :line 244, :arglists ([ports & {:as opts}]), :doc "Like alts!, except takes will be made as if by <!!, and puts will\n  be made as if by >!!, will block until completed, and not intended\n  for use in (go ...) blocks."}