{:ns "clojure.core.async", :name "onto-chan", :file "clojure/core/async.clj", :type :fn, :src "(defn onto-chan\n  \"Puts the contents of coll into the supplied channel.\n\n  By default the channel will be closed after the items are copied,\n  but can be determined by the close? parameter.\n\n  Returns a channel which will close after the items are copied.\"\n  ([ch coll] (onto-chan ch coll true))\n  ([ch coll close?]\n     (go-loop [vs (seq coll)]\n              (if (and vs (>! ch (first vs)))\n                (recur (next vs))\n                (when close?\n                  (close! ch))))))", :column 1, :line 584, :arglists ([ch coll] [ch coll close?]), :doc "Puts the contents of coll into the supplied channel.\n\n  By default the channel will be closed after the items are copied,\n  but can be determined by the close? parameter.\n\n  Returns a channel which will close after the items are copied."}