{:type :fn, :src "(deftype TimeoutQueueEntry [channel ^long timestamp]\n  Delayed\n  (getDelay [this time-unit]\n    (.convert time-unit\n              (- timestamp (System/currentTimeMillis))\n              TimeUnit/MILLISECONDS))\n  (compareTo\n   [this other]\n   (let [ostamp (.timestamp ^TimeoutQueueEntry other)]\n     (if (< timestamp ostamp)\n       -1\n       (if (= timestamp ostamp)\n         0\n         1))))\n  impl/Channel\n  (close! [this]\n    (impl/close! channel)))", :ns "clojure.core.async.impl.timers", :name "->TimeoutQueueEntry", :file "clojure/core/async/impl/timers.clj", :column 1, :line 25, :arglists ([channel timestamp]), :doc "Positional factory function for class clojure.core.async.impl.timers.TimeoutQueueEntry."}