{:ns "clojure.core.async", :name "sliding-buffer", :file "clojure/core/async.clj", :type :fn, :src "(defn sliding-buffer\n  \"Returns a buffer of size n. When full, puts will complete, and be\n  buffered, but oldest elements in buffer will be dropped (not\n  transferred).\"\n  [n]\n  (buffers/sliding-buffer n))", :column 1, :line 53, :arglists ([n]), :doc "Returns a buffer of size n. When full, puts will complete, and be\n  buffered, but oldest elements in buffer will be dropped (not\n  transferred)."}