{:ns "cljs.core.async.impl.ioc-macros", :name "index-state-machine", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn index-state-machine [machine]\n  (reduce index-block {} (:blocks machine)))", :column 1, :line 777, :arglists ([machine])}