{:ns "clojure.core.async", :name "reduce", :file "clojure/core/async.clj", :type :fn, :src "(defn reduce\n  \"f should be a function of 2 arguments. Returns a channel containing\n  the single result of applying f to init and the first item from the\n  channel, then applying f to that result and the 2nd item, etc. If\n  the channel closes without yielding items, returns init and f is not\n  called. ch must close before reduce produces a result.\"\n  [f init ch]\n  (go-loop [ret init]\n    (let [v (<! ch)]\n      (if (nil? v)\n        ret\n        (recur (f ret v))))))", :column 1, :line 560, :arglists ([f init ch]), :doc "f should be a function of 2 arguments. Returns a channel containing\n  the single result of applying f to init and the first item from the\n  channel, then applying f to that result and the 2nd item, etc. If\n  the channel closes without yielding items, returns init and f is not\n  called. ch must close before reduce produces a result."}