{:ns "clojure.core.async", :name "filter>", :file "clojure/core/async.clj", :type :fn, :src "(defn filter>\n  \"Deprecated - this function will be removed. Use transformer instead\"\n  [p ch]\n  (reify\n   impl/Channel\n   (close! [_] (impl/close! ch))\n   (closed? [_] (impl/closed? ch))\n\n   impl/ReadPort\n   (take! [_ fn1] (impl/take! ch fn1))\n\n   impl/WritePort\n   (put! [_ val fn1]\n    (if (p val)\n      (impl/put! ch val fn1)\n      (channels/box (not (impl/closed? ch)))))))", :column 1, :line 990, :arglists ([p ch]), :doc "Deprecated - this function will be removed. Use transformer instead"}