{:ns "clojure.core.async", :name "sub", :file "clojure/core/async.clj", :type :fn, :src "(defn sub\n  \"Subscribes a channel to a topic of a pub.\n\n  By default the channel will be closed when the source closes,\n  but can be determined by the close? parameter.\"\n  ([p topic ch] (sub p topic ch true))\n  ([p topic ch close?] (sub* p topic ch close?)))", :column 1, :line 844, :arglists ([p topic ch] [p topic ch close?]), :doc "Subscribes a channel to a topic of a pub.\n\n  By default the channel will be closed when the source closes,\n  but can be determined by the close? parameter."}