{:type :fn, :src "(defrecord CustomTerminator [f blk values]\n  IInstruction\n  (reads-from [this] values)\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(~f ~state-sym ~blk ~@values)))", :ns "cljs.core.async.impl.ioc-macros", :name "->CustomTerminator", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 213, :arglists ([f blk values]), :doc "Positional factory function for class cljs.core.async.impl.ioc_macros.CustomTerminator."}