{:ns "cljs.core.async.impl.ioc-macros", :name "pop-binding", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn pop-binding\n  \"Removes the most recent binding for key\"\n  [key]\n  (fn [plan]\n    [(first (get-in plan [:bindings key]))\n     (update-in plan [:bindings key] pop)]))", :column 1, :line 92, :arglists ([key]), :doc "Removes the most recent binding for key"}