{:type :fn, :src "(defrecord Const [value]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    (if (= value ::value)\n      `[~(:id this) (aget ~state-sym ~VALUE-IDX)]\n      `[~(:id this) ~value])))", :ns "cljs.core.async.impl.ioc-macros", :name "->Const", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 202, :arglists ([value]), :doc "Positional factory function for class cljs.core.async.impl.ioc_macros.Const."}