{:ns "clojure.core.async.impl.ioc-macros", :name "id-for-inst", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn id-for-inst [m sym] ;; m :: symbols -> integers\n  (if-let [i (get @m sym)]\n    i\n    (let [next-idx (get @m ::next-idx)]\n      (swap! m assoc sym next-idx)\n      (swap! m assoc ::next-idx (inc next-idx))\n      next-idx)))", :column 1, :line 832, :arglists ([m sym])}