{:ns "clojure.core.async.impl.ioc-macros", :name "add-exception-frame", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn add-exception-frame [state catch-block catch-exception finally-block continue-block]\n  (aset-all! state\n             EXCEPTION-FRAMES\n             (->ExceptionFrame catch-block\n                               catch-exception\n                               finally-block\n                               continue-block\n                               (aget-object state EXCEPTION-FRAMES))))", :column 1, :line 204, :arglists ([state catch-block catch-exception finally-block continue-block])}