{:type :fn, :src "(defrecord Dot [target method args]\n  IInstruction\n  (reads-from [this] `[~target ~method ~@args])\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    (if (.startsWith (name method) \"-\")\n      `[~(:id this) (. ~target ~method)]\n      `[~(:id this) (. ~target ~(cons method args))])))", :ns "cljs.core.async.impl.ioc-macros", :name "map->Dot", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 286, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.Dot, taking a map of keywords to field values."}