{:ns "cljs.core.async.impl.ioc-macros", :name "terminate-custom", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn terminate-custom [vals term]\n  (gen-plan\n   [blk (add-block)\n    vals (all (map item-to-ssa vals))\n    val (add-instruction (->CustomTerminator term blk vals))\n    _ (set-block blk)\n    res (add-instruction (->Const ::value))]\n   res))", :column 1, :line 676, :arglists ([vals term])}