{:type :fn, :src "(defrecord EndCatchFinally []\n  IInstruction\n  (reads-from [this] [])\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(do (process-exception ~state-sym)\n         :recur)))", :ns "clojure.core.async.impl.ioc-macros", :name "->EndCatchFinally", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 413, :arglists ([]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.EndCatchFinally."}