{:type :fn, :src "(defrecord Return [value]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminator-code [this] :Return)\n  (terminate-block [this state-sym custom-terminators]\n    (if-let [f (get custom-terminators (terminator-code this))]\n      `(~f ~state-sym ~value)\n      `(do (aset-all! ~state-sym\n                      ~VALUE-IDX ~value\n                      ~STATE-IDX ::finished)\n           nil))))", :ns "clojure.core.async.impl.ioc-macros", :name "map->Return", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 362, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.async.impl.ioc_macros.Return, taking a map of keywords to field values."}