{:ns "clojure.core.async.impl.exec.threadpool", :name "thread-pool-executor", :file "clojure/core/async/impl/exec/threadpool.clj", :type :fn, :src "(defn thread-pool-executor\n  ([] (thread-pool-executor the-executor))\n  ([^Executor executor-svc]\n     (reify impl/Executor\n       (impl/exec [this r]\n         (.execute executor-svc ^Runnable r)))))", :column 1, :line 24, :arglists ([] [executor-svc])}