{:ns "clojure.core.async.impl.ioc-macros", :name "push-alter-binding", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn push-alter-binding\n  \"Pushes the result of (apply f old-value args) as current value of binding key\"\n  [key f & args]\n  (fn [plan]\n    [nil (update-in plan [:bindings key]\n                  #(conj % (apply f (first %) args)))]))", :column 1, :line 89, :arglists ([key f & args]), :doc "Pushes the result of (apply f old-value args) as current value of binding key"}