{:ns "clojure.core.async.impl.ioc-macros", :name "EXCEPTION-FRAMES", :file "clojure/core/async/impl/ioc_macros.clj", :type :var, :src "(def ^:const EXCEPTION-FRAMES 4)", :column 1, :const true, :line 34}