{:doc "core.async HIGHLY EXPERIMENTAL feature exploration\n\n  Caveats:\n\n  1. Everything defined in this namespace is experimental, and subject\n  to change or deletion without warning.\n\n  2. Many features provided by this namespace are highly coupled to\n  implementation details of core.async. Potential features which\n  operate at higher levels of abstraction are suitable for inclusion\n  in the examples.\n\n  3. Features provided by this namespace MAY be promoted to\n  clojure.core.async at a later point in time, but there is no\n  guarantee any of them will."}