{:ns "cljs.core.async.impl.ioc-macros", :name "async-custom-terminators", :file "cljs/core/async/impl/ioc_macros.clj", :type :var, :src "(def async-custom-terminators\n  {'<! 'cljs.core.async.impl.ioc-helpers/take!\n   'cljs.core.async/<! 'cljs.core.async.impl.ioc-helpers/take!\n   '>! 'cljs.core.async.impl.ioc-helpers/put!\n   'cljs.core.async/>! 'cljs.core.async.impl.ioc-helpers/put!\n   'alts! 'cljs.core.async/ioc-alts!\n   'cljs.core.async/alts! 'cljs.core.async/ioc-alts!\n   :Return 'cljs.core.async.impl.ioc-helpers/return-chan})", :column 1, :line 870}