{:ns "clojure.core.async", :name ">!", :file "clojure/core/async.clj", :type :fn, :src "(defn >!\n  \"puts a val into port. nil values are not allowed. Must be called\n  inside a (go ...) block. Will park if no buffer space is available.\n  Returns true unless port is already closed.\"\n  [port val]\n  (assert nil \">! used not in (go ...) block\"))", :column 1, :line 128, :arglists ([port val]), :doc "puts a val into port. nil values are not allowed. Must be called\n  inside a (go ...) block. Will park if no buffer space is available.\n  Returns true unless port is already closed."}