{:ns "clojure.core.async", :name "mapcat>", :file "clojure/core/async.clj", :type :fn, :src "(defn mapcat>\n  \"Deprecated - this function will be removed. Use transformer instead\"\n\n  ([f out] (mapcat> f out nil))\n  ([f out buf-or-n]\n     (let [in (chan buf-or-n)]\n       (mapcat* f in out)\n       in)))", :column 1, :line 1049, :arglists ([f out] [f out buf-or-n]), :doc "Deprecated - this function will be removed. Use transformer instead"}