{:ns "cljs.core.async.impl.ioc-macros", :name "persistent-value?", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn persistent-value?\n  \"Returns true if this value should be saved in the state hash map\"\n  [index value]\n  (or (not= (-> index value :read-in)\n            (-> index value :written-in))\n      (-> index value :read-in count (> 1))))", :column 1, :line 788, :arglists ([index value]), :doc "Returns true if this value should be saved in the state hash map"}