{:ns "clojure.core.async.impl.ioc-macros", :name "finished?", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn finished?\n  \"Returns true if the machine is in a finished state\"\n  [state-array]\n  (identical? (aget-object state-array STATE-IDX) ::finished))", :column 1, :line 921, :arglists ([state-array]), :doc "Returns true if the machine is in a finished state"}