{:ns "clojure.core.async", :name "pipeline-blocking", :file "clojure/core/async.clj", :type :fn, :src "(defn pipeline-blocking\n  \"Like pipeline, for blocking operations.\"\n  ([n to xf from] (pipeline-blocking n to xf from true))\n  ([n to xf from close?] (pipeline-blocking n to xf from close? nil))\n  ([n to xf from close? ex-handler] (pipeline* n to xf from close? ex-handler :blocking)))", :column 1, :line 517, :arglists ([n to xf from] [n to xf from close?] [n to xf from close? ex-handler]), :doc "Like pipeline, for blocking operations."}