{:ns "clojure.core.async.impl.ioc-macros", :name "put!", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn put! [state blk c val]\n  (if-let [cb (impl/put! c val (fn-handler (fn [ret-val]\n                                             (aset-all! state VALUE-IDX ret-val STATE-IDX blk)\n                                             (run-state-machine-wrapped state))))]\n    (do (aset-all! state VALUE-IDX @cb STATE-IDX blk)\n        :recur)\n    nil))", :column 1, :line 958, :arglists ([state blk c val])}