{:type :fn, :src "(defrecord Jmp [value block]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [])\n  (block-references [this] [block])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(do (aset-all! ~state-sym ~VALUE-IDX ~value ~STATE-IDX ~block)\n         :recur)))", :ns "cljs.core.async.impl.ioc-macros", :name "map->Jmp", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 297, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.Jmp, taking a map of keywords to field values."}