{:ns "clojure.core.async", :name "unique", :file "clojure/core/async.clj", :type :fn, :src "(defn unique\n \"Deprecated - this function will be removed. Use transformer instead\"\n  ([ch]\n     (unique ch nil))\n  ([ch buf-or-n]\n     (let [out (chan buf-or-n)]\n       (go (loop [last nil]\n             (let [v (<! ch)]\n               (when (not (nil? v))\n                 (if (= v last)\n                   (recur last)\n                   (do (>! out v)\n                       (recur v))))))\n           (close! out))\n       out)))", :column 1, :line 1058, :arglists ([ch] [ch buf-or-n]), :doc "Deprecated - this function will be removed. Use transformer instead"}