{:ns "clojure.core.async.impl.ioc-macros", :name "add-instruction", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn add-instruction\n  \"Appends an instruction to the current block. \"\n  [inst]\n  (let [inst-id (with-meta (gensym \"inst_\")\n                  {::instruction true})\n        inst (assoc inst :id inst-id)]\n    (gen-plan\n     [blk-id (get-block)\n      _ (update-in-plan [:blocks blk-id] (fnil conj []) inst)]\n     inst-id)))", :column 1, :line 181, :arglists ([inst]), :doc "Appends an instruction to the current block. "}