{:type :fn, :src "(deftype BroadcastingWritePort\n    [write-ports]\n  impl/WritePort\n  (put! [port val handler]\n    (broadcast-write write-ports val handler)))", :ns "clojure.core.async.lab", :name "->BroadcastingWritePort", :file "clojure/core/async/lab.clj", :column 1, :line 93, :arglists ([write-ports]), :doc "Positional factory function for class clojure.core.async.lab.BroadcastingWritePort."}