{:ns "clojure.core.async.impl.ioc-macros", :name "item-to-ssa", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn item-to-ssa [ast]\n  (if (or (::transform? ast)\n          (contains? #{:local :const :quote} (:op ast)))\n    (-item-to-ssa ast)\n    (gen-plan\n     [locals (get-binding :locals)\n      id (add-instruction (->RawCode ast locals))]\n     id)))", :column 1, :line 489, :arglists ([ast])}