{:ns "clojure.core.async", :name "<!!", :file "clojure/core/async.clj", :type :fn, :src "(defn <!!\n  \"takes a val from port. Will return nil if closed. Will block\n  if nothing is available.\"\n  [port]\n  (let [p (promise)\n        ret (impl/take! port (fn-handler (fn [v] (deliver p v))))]\n    (if ret\n      @ret\n      (deref p))))", :column 1, :line 87, :arglists ([port]), :doc "takes a val from port. Will return nil if closed. Will block\n  if nothing is available."}