{:ns "clojure.core.async.impl.ioc-macros", :name "parse-to-state-machine", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn parse-to-state-machine\n  \"Takes an sexpr and returns a hashmap that describes the execution flow of the sexpr as\n   a series of SSA style blocks.\"\n  [body terminators]\n  (-> (gen-plan\n       [_ (push-binding :terminators terminators)\n        blk (add-block)\n        _ (set-block blk)\n        id (item-to-ssa body)\n        term-id (add-instruction (->Return id))\n        _ (pop-binding :terminators)]\n       term-id)\n      get-plan))", :column 1, :line 798, :arglists ([body terminators]), :doc "Takes an sexpr and returns a hashmap that describes the execution flow of the sexpr as\n   a series of SSA style blocks."}