{:type :fn, :src "(defrecord Call [refs]\n  IInstruction\n  (reads-from [this] refs)\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~(:id this) ~(seq refs)]))", :ns "cljs.core.async.impl.ioc-macros", :name "map->Call", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 249, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.Call, taking a map of keywords to field values."}