{:ns "clojure.core.async", :name "remove<", :file "clojure/core/async.clj", :type :fn, :src "(defn remove<\n  \"Deprecated - this function will be removed. Use transformer instead\"\n  ([p ch] (remove< p ch nil))\n  ([p ch buf-or-n] (filter< (complement p) ch buf-or-n)))", :column 1, :line 1026, :arglists ([p ch] [p ch buf-or-n]), :doc "Deprecated - this function will be removed. Use transformer instead"}