{:type :var, :src "(defprotocol Buffer\n  (full? [b])\n  (remove! [b])\n  (add!* [b itm]))", :doc nil, :ns "clojure.core.async.impl.protocols", :name "Buffer", :file "clojure/core/async/impl/protocols.clj", :column 1, :line 30}