{:ns "clojure.core.async.impl.ioc-macros", :name "take!", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn take! [state blk c]\n  (if-let [cb (impl/take! c (fn-handler\n                                   (fn [x]\n                                     (aset-all! state VALUE-IDX x STATE-IDX blk)\n                                     (run-state-machine-wrapped state))))]\n    (do (aset-all! state VALUE-IDX @cb STATE-IDX blk)\n        :recur)\n    nil))", :column 1, :line 949, :arglists ([state blk c])}