{:ns "cljs.core.async.impl.ioc-macros", :name "instruction?", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn instruction? [x]\n  (::instruction (meta x)))", :column 1, :line 168, :arglists ([x])}