{:type :var, :src "(defmulti -item-to-ssa (fn [x]\n                         (cond\n                          (symbol? x) :symbol\n                          (seq? x) :list\n                          (map? x) :map\n                          (set? x) :set\n                          (vector? x) :vector\n                          :else :default)))", :ns "cljs.core.async.impl.ioc-macros", :name "-item-to-ssa", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 387}