{:ns "clojure.core.async.impl.ioc-macros", :name "add-block", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn add-block\n  \"Adds a new block, returns its id, but does not change the current block (does not call set-block).\"\n  []\n  (gen-plan\n   [_ (update-in-plan [:block-id] (fnil inc 0))\n    blk-id (get-in-plan [:block-id])\n    cur-blk (get-block)\n    _ (assoc-in-plan [:blocks blk-id] [])\n    catches (get-binding :catch)\n    _ (assoc-in-plan [:block-catches blk-id] catches)\n    _ (if-not cur-blk\n        (assoc-in-plan [:start-block] blk-id)\n        (no-op))]\n   blk-id))", :column 1, :line 162, :arglists ([]), :doc "Adds a new block, returns its id, but does not change the current block (does not call set-block)."}