{:ns "clojure.core.async", :name "to-chan", :file "clojure/core/async.clj", :type :fn, :src "(defn to-chan\n  \"Creates and returns a channel which contains the contents of coll,\n  closing when exhausted.\"\n  [coll]\n  (let [ch (chan (bounded-count 100 coll))]\n    (onto-chan ch coll)\n    ch))", :column 1, :line 599, :arglists ([coll]), :doc "Creates and returns a channel which contains the contents of coll,\n  closing when exhausted."}