{:ns "clojure.core.async", :name "unblocking-buffer?", :file "clojure/core/async.clj", :type :fn, :src "(defn unblocking-buffer?\n  \"Returns true if a channel created with buff will never block. That is to say,\n   puts into this buffer will never cause the buffer to be full. \"\n  [buff]\n  (extends? impl/UnblockingBuffer (class buff)))", :column 1, :line 60, :arglists ([buff]), :doc "Returns true if a channel created with buff will never block. That is to say,\n   puts into this buffer will never cause the buffer to be full. "}