{:ns "clojure.core.async", :name "into", :file "clojure/core/async.clj", :type :fn, :src "(defn into\n  \"Returns a channel containing the single (collection) result of the\n  items taken from the channel conjoined to the supplied\n  collection. ch must close before into produces a result.\"\n  [coll ch]\n  (reduce conj coll ch))", :column 1, :line 918, :arglists ([coll ch]), :doc "Returns a channel containing the single (collection) result of the\n  items taken from the channel conjoined to the supplied\n  collection. ch must close before into produces a result."}