{:type :fn, :src "(defrecord Jmp [value block]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [])\n  (block-references [this] [block])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(do (aset-all! ~state-sym ~VALUE-IDX ~value ~STATE-IDX ~block)\n         :recur)))", :ns "clojure.core.async.impl.ioc-macros", :name "->Jmp", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 352, :arglists ([value block]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.Jmp."}