{:type :fn, :src "(defrecord ExceptionFrame [catch-block\n                           ^Class catch-exception\n                           finally-block\n                           continue-block\n                           prev])", :ns "clojure.core.async.impl.ioc-macros", :name "map->ExceptionFrame", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 198, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.async.impl.ioc_macros.ExceptionFrame, taking a map of keywords to field values."}