{:ns "cljs.core.async.impl.ioc-macros", :name "aset-all!", :file "cljs/core/async/impl/ioc_macros.clj", :type :macro, :src "(defmacro aset-all!\n  [arr & more]\n  (assert (even? (count more)) \"Must give an even number of args to aset-all!\")\n  (let [bindings (partition 2 more)\n        arr-sym (gensym \"statearr-\")]\n    `(let [~arr-sym ~arr]\n       ~@(map\n          (fn [[idx val]]\n            `(aset ~arr-sym ~idx ~val))\n          bindings)\n       ~arr-sym)))", :column 1, :line 34, :macro true, :arglists ([arr & more])}