{:ns "clojure.core.async", :name "filter<", :file "clojure/core/async.clj", :type :fn, :src "(defn filter<\n  \"Deprecated - this function will be removed. Use transformer instead\"\n  ([p ch] (filter< p ch nil))\n  ([p ch buf-or-n]\n     (let [out (chan buf-or-n)]\n       (go-loop []\n         (let [val (<! ch)]\n           (if (nil? val)\n             (close! out)\n             (do (when (p val)\n                   (>! out val))\n                 (recur)))))\n       out)))", :column 1, :line 1012, :arglists ([p ch] [p ch buf-or-n]), :doc "Deprecated - this function will be removed. Use transformer instead"}