{:ns "clojure.core.async", :name "alt!!", :file "clojure/core/async.clj", :type :macro, :src "(defmacro alt!!\n  \"Like alt!, except as if by alts!!, will block until completed, and\n  not intended for use in (go ...) blocks.\"\n\n  [& clauses]\n  (do-alt `alts!! clauses))", :column 1, :line 319, :macro true, :arglists ([& clauses]), :doc "Like alt!, except as if by alts!!, will block until completed, and\n  not intended for use in (go ...) blocks."}