{:type :fn, :src "(defrecord Return [value]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminator-code [this] :Return)\n  (terminate-block [this state-sym custom-terminators]\n    (if-let [f (get custom-terminators (terminator-code this))]\n      `(~f ~state-sym ~value)\n      `(do (aset-all! ~state-sym\n                      ~VALUE-IDX ~value\n                      ~STATE-IDX :finished)\n           nil))))", :ns "cljs.core.async.impl.ioc-macros", :name "->Return", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 307, :arglists ([value]), :doc "Positional factory function for class cljs.core.async.impl.ioc_macros.Return."}