{:ns "clojure.core.async", :name "map>", :file "clojure/core/async.clj", :type :fn, :src "(defn map>\n  \"Deprecated - this function will be removed. Use transformer instead\"\n  [f ch]\n  (reify\n   impl/Channel\n   (close! [_] (impl/close! ch))\n   (closed? [_] (impl/closed? ch))\n\n   impl/ReadPort\n   (take! [_ fn1] (impl/take! ch fn1))\n\n   impl/WritePort\n   (put! [_ val fn1]\n    (impl/put! ch (f val) fn1))))", :column 1, :line 975, :arglists ([f ch]), :doc "Deprecated - this function will be removed. Use transformer instead"}