{:ns "clojure.core.async", :name "tap", :file "clojure/core/async.clj", :type :fn, :src "(defn tap\n  \"Copies the mult source onto the supplied channel.\n\n  By default the channel will be closed when the source closes,\n  but can be determined by the close? parameter.\"\n  ([mult ch] (tap mult ch true))\n  ([mult ch close?] (tap* mult ch close?) ch))", :column 1, :line 658, :arglists ([mult ch] [mult ch close?]), :doc "Copies the mult source onto the supplied channel.\n\n  By default the channel will be closed when the source closes,\n  but can be determined by the close? parameter."}