{:ns "clojure.core.async.impl.ioc-macros", :name "update-in-plan", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn update-in-plan\n  \"Same as update-in, but for a state hash map\"\n  [path f & args]\n  (fn [plan]\n    [nil (apply update-in plan path f args)]))", :column 1, :line 133, :arglists ([path f & args]), :doc "Same as update-in, but for a state hash map"}