{:type :fn, :src "(defrecord Dot [cls-or-instance method args]\n  IInstruction\n  (reads-from [this] `[~cls-or-instance ~method ~@args])\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~(:id this) (. ~cls-or-instance ~method ~@args)]))", :ns "clojure.core.async.impl.ioc-macros", :name "->Dot", :file "clojure/core/async/impl/ioc_macros.clj", :column 1, :line 343, :arglists ([cls-or-instance method args]), :doc "Positional factory function for class clojure.core.async.impl.ioc_macros.Dot."}