{:ns "cljs.core.async.impl.ioc-macros", :name "set-block", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn set-block\n  \"Sets the current block being written to by the functions. The next add-instruction call will append to this block\"\n  [block-id]\n  (fn [plan]\n    [block-id (assoc plan :current-block block-id)]))", :column 1, :line 140, :arglists ([block-id]), :doc "Sets the current block being written to by the functions. The next add-instruction call will append to this block"}