{:ns "clojure.core.async", :name "take!", :file "clojure/core/async.clj", :type :fn, :src "(defn take!\n  \"Asynchronously takes a val from port, passing to fn1. Will pass nil\n   if closed. If on-caller? (default true) is true, and value is\n   immediately available, will call fn1 on calling thread.\n   Returns nil.\"\n  ([port fn1] (take! port fn1 true))\n  ([port fn1 on-caller?]\n     (let [ret (impl/take! port (fn-handler fn1))]\n       (when ret\n         (let [val @ret]\n           (if on-caller?\n             (fn1 val)\n             (dispatch/run #(fn1 val)))))\n       nil)))", :column 1, :line 103, :arglists ([port fn1] [port fn1 on-caller?]), :doc "Asynchronously takes a val from port, passing to fn1. Will pass nil\n   if closed. If on-caller? (default true) is true, and value is\n   immediately available, will call fn1 on calling thread.\n   Returns nil."}