{:ns "cljs.core.async.impl.ioc-macros", :name "expand", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn expand [locals env form]\n  (loop [form form]\n    (if-not (seq? form)\n      form\n      (let [[s & r] form]\n        (if (symbol? s)\n          (if (or (get locals s)\n                  (special-override? s))\n            form\n            (let [new-env (update-in env [:locals] merge locals)\n                  expanded (cljs/macroexpand-1 new-env form)]\n              (if (= expanded form)\n                form\n                (recur expanded))))\n          form)))))", :column 1, :line 660, :arglists ([locals env form])}