{:type :fn, :src "(defrecord Try [catch-block catch-exception finally-block continue-block]\n  IInstruction\n  (reads-from [this] [])\n  (writes-to [this] [])\n  (block-references [this] [catch-block finally-block continue-block])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~'_ (cljs.core.async.impl.ioc-helpers/add-exception-frame ~state-sym\n                                                                ~catch-block\n                                                                ~catch-exception\n                                                                ~finally-block\n                                                                ~continue-block)]))", :ns "cljs.core.async.impl.ioc-macros", :name "->Try", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 348, :arglists ([catch-block catch-exception finally-block continue-block]), :doc "Positional factory function for class cljs.core.async.impl.ioc_macros.Try."}