{:ns "clojure.core.async", :name ">!!", :file "clojure/core/async.clj", :type :fn, :src "(defn >!!\n  \"puts a val into port. nil values are not allowed. Will block if no\n  buffer space is available. Returns true unless port is already closed.\"\n  [port val]\n  (let [p (promise)\n        ret (impl/put! port val (fn-handler (fn [open?] (deliver p open?))))]\n    (if ret\n      @ret\n      (deref p))))", :column 1, :line 118, :arglists ([port val]), :doc "puts a val into port. nil values are not allowed. Will block if no\n  buffer space is available. Returns true unless port is already closed."}