{:ns "clojure.core.async.impl.ioc-macros", :name "count-persistent-values", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn count-persistent-values\n  [index]\n  (->> (keys index)\n       (filter instruction?)\n       (filter (partial persistent-value? index))\n       count))", :column 1, :line 847, :arglists ([index])}