{:ns "clojure.core.async.impl.ioc-macros", :name "make-env", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn make-env [input-env]\n  (assoc (an-jvm/empty-env)\n    :locals (into {} (for [local input-env]\n                       [local {:op :local\n                               :form local\n                               :name local}]))))", :column 1, :line 1049, :arglists ([input-env])}