{:ns "clojure.core.async", :name "thread", :file "clojure/core/async.clj", :type :macro, :src "(defmacro thread\n  \"Executes the body in another thread, returning immediately to the\n  calling thread. Returns a channel which will receive the result of\n  the body when completed.\"\n  [& body]\n  `(thread-call (fn [] ~@body)))", :column 1, :line 412, :macro true, :arglists ([& body]), :doc "Executes the body in another thread, returning immediately to the\n  calling thread. Returns a channel which will receive the result of\n  the body when completed."}