{:ns "clojure.core.async.impl.ioc-macros", :name "analyze", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn analyze\n  [form env]\n  (binding [an/macroexpand-1 an-jvm/macroexpand-1\n            an/create-var    an-jvm/create-var\n            an/parse         an-jvm/parse\n            an/var?          var?]\n    (an/analyze form env)))", :column 1, :line 980, :arglists ([form env])}