{:type :fn, :src "(deftype FixedBuffer [^LinkedList buf ^long n]\n  impl/Buffer\n  (full? [this]\n    (>= (.size buf) n))\n  (remove! [this]\n    (.removeLast buf))\n  (add!* [this itm]\n    (.addFirst buf itm)\n    this)\n  clojure.lang.Counted\n  (count [this]\n    (.size buf)))", :ns "clojure.core.async.impl.buffers", :name "->FixedBuffer", :file "clojure/core/async/impl/buffers.clj", :column 1, :line 16, :arglists ([buf n]), :doc "Positional factory function for class clojure.core.async.impl.buffers.FixedBuffer."}