{:type :fn, :src "(deftype DroppingBuffer [^LinkedList buf ^long n]\n  impl/UnblockingBuffer\n  impl/Buffer\n  (full? [this]\n    false)\n  (remove! [this]\n    (.removeLast buf))\n  (add!* [this itm]\n    (when-not (>= (.size buf) n)\n      (.addFirst buf itm))\n    this)\n  clojure.lang.Counted\n  (count [this]\n    (.size buf)))", :ns "clojure.core.async.impl.buffers", :name "->DroppingBuffer", :file "clojure/core/async/impl/buffers.clj", :column 1, :line 33, :arglists ([buf n]), :doc "Positional factory function for class clojure.core.async.impl.buffers.DroppingBuffer."}