{:type :fn, :src "(defrecord Fn [fn-expr local-names local-refs]\n  IInstruction\n  (reads-from [this] local-refs)\n  (writes-to [this] [(:id this)])\n  (block-references [this] [])\n  IEmittableInstruction\n  (emit-instruction [this state-sym]\n    `[~(:id this)\n      (let [~@(interleave local-names local-refs)]\n        ~@fn-expr)]))", :ns "cljs.core.async.impl.ioc-macros", :name "map->Fn", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 275, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.Fn, taking a map of keywords to field values."}