{:ns "cljs.core.async.impl.ioc-macros", :name "fixup-aliases", :file "cljs/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn fixup-aliases [sym env]\n  (let [aliases (ns-aliases *ns*)]\n    (if-not (namespace sym)\n      sym\n      (if-let [ns (or (get-in env [:ns :requires-macros (symbol (namespace sym))])\n                      (get-in env [:ns :requires (symbol (namespace sym))]))]\n        (symbol (name ns) (name sym))\n        sym))))", :column 1, :line 685, :arglists ([sym env])}