{:ns "clojure.core.async.impl.ioc-macros", :name "push-binding", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn push-binding\n  \"Sets the binding 'key' to value. This operation can be undone via pop-bindings.\n   Bindings are stored in the state hashmap.\"\n  [key value]\n  (fn [plan]\n    [nil (update-in plan [:bindings key] conj value)]))", :column 1, :line 82, :arglists ([key value]), :doc "Sets the binding 'key' to value. This operation can be undone via pop-bindings.\n   Bindings are stored in the state hashmap."}