{:ns "clojure.core.async", :name "ioc-alts!", :file "clojure/core/async.clj", :type :fn, :src "(defn ioc-alts! [state cont-block ports & {:as opts}]\n  (ioc/aset-all! state ioc/STATE-IDX cont-block)\n  (when-let [cb (clojure.core.async/do-alts\n                  (fn [val]\n                    (ioc/aset-all! state ioc/VALUE-IDX val)\n                    (ioc/run-state-machine-wrapped state))\n                  ports\n                  opts)]\n    (ioc/aset-all! state ioc/VALUE-IDX @cb)\n    :recur))", :column 1, :line 357, :arglists ([state cont-block ports & {:as opts}])}