{:ns "clojure.core.async.impl.ioc-macros", :name "return-chan", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn return-chan [state value]\n  (let [c (aget-object state USER-START-IDX)]\n           (when-not (nil? value)\n             (impl/put! c value (fn-handler (fn [] nil))))\n           (impl/close! c)\n           c))", :column 1, :line 966, :arglists ([state value])}