{:ns "clojure.core.async.impl.ioc-macros", :name "mark-transitions", :file "clojure/core/async/impl/ioc_macros.clj", :type :fn, :src "(defn mark-transitions\n  [transitions {:keys [op fn] :as ast}]\n  (if (and (= op :invoke)\n           (= (:op fn) :var)\n           (contains? transitions (var-name (:var fn))))\n    (merge ast\n           {:op :transition\n            :name (get transitions (var-name (:var fn)))})\n    ast))", :column 1, :line 989, :arglists ([transitions {:keys [op fn], :as ast}])}