{:type :fn, :src "(defrecord ProcessExceptionWithValue [value]\n  IInstruction\n  (reads-from [this] [value])\n  (writes-to [this] [])\n  (block-references [this] [])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(do (aset-all! ~state-sym\n                    ~VALUE-IDX\n                    ~value)\n         (cljs.core.async.impl.ioc-helpers/process-exception ~state-sym)\n         :recur)))", :ns "cljs.core.async.impl.ioc-macros", :name "map->ProcessExceptionWithValue", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 361, :arglists ([m__6206__auto__]), :doc "Factory function for class cljs.core.async.impl.ioc_macros.ProcessExceptionWithValue, taking a map of keywords to field values."}