{:type :fn, :src "(defrecord CondBr [test then-block else-block]\n  IInstruction\n  (reads-from [this] [test])\n  (writes-to [this] [])\n  (block-references [this] [then-block else-block])\n  ITerminator\n  (terminate-block [this state-sym _]\n    `(do (if ~test\n           (aset-all! ~state-sym\n                      ~STATE-IDX ~then-block)\n           (aset-all! ~state-sym\n                      ~STATE-IDX ~else-block))\n         :recur)))", :ns "cljs.core.async.impl.ioc-macros", :name "->CondBr", :file "cljs/core/async/impl/ioc_macros.clj", :column 1, :line 333, :arglists ([test then-block else-block]), :doc "Positional factory function for class cljs.core.async.impl.ioc_macros.CondBr."}