{:ns "clojure.core.async", :name "mapcat<", :file "clojure/core/async.clj", :type :fn, :src "(defn mapcat<\n  \"Deprecated - this function will be removed. Use transformer instead\"\n  ([f in] (mapcat< f in nil))\n  ([f in buf-or-n]\n    (let [out (chan buf-or-n)]\n      (mapcat* f in out)\n      out)))", :column 1, :line 1041, :arglists ([f in] [f in buf-or-n]), :doc "Deprecated - this function will be removed. Use transformer instead"}